body {
  background-color: #18bc9c;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #3498db;
  padding: 0;
  margin: 0;
  border: 0;
  justify-content: right;
  align-items: right;
}

#name {
  font-size:4vw;
  color:#faebd7;
  margin-top: 0;
  justify-content: right;
  text-align: center;
  padding: 0;
  margin: 0;
}

#hello {
  max-width: 30%;
  height: auto;
  padding: 0;
  margin: 0;
  justify-content: right;
  display: inline-block;
  float: right;
}

.white {
  color: #faebd7 !important;
}

.active a{
  background-color:  #217DBB !important;
}

#blurb {
  color: #faebd7;
  font-size: 1.5vw;
  padding: 20px;
}

.dylanpic {
  max-width: 75%;
  max-height: 75%;
}

#unordered {
  display: block;
  padding: 1em;
}

.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
  columns: 3;
  -webkit-columns3;
  -moz-columns: 3S;
  display: table-row;
}

.list-item {
  float: left;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-color: #464545;
  box-sizing: border-box;
  object-fit: contain;
  width: 35%;
}

.img-port {
  object-fit: contain;
}

.bottomIcon {
  height: 48px;
  width: 48px;
}

#endlist {
  background-color: #464545;
  border: none;
}

#bottomlinks {
  font-size: .5em;
}

.location {
  margin-top: 60px;
}

a:hover {
  background-color: darkgray !important;
}